
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 10px;
    text-align: center;
    background: #2b6777;
    color: #fff;
    font-size: large;
    display: flex;
  
    
   
   
  }

  header h1 {
    flex: 1;
    flex-direction: column;
    width: 100px;
    height: 100px;
    align-items: flex-start;
    
   
      
  }

ul {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  align-items: flex-end;
  justify-content: baseline;
  flex-grow: 1 1 0;
  
}

ul li {

  color:#fff;

}
  