/* General style */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    
    
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: #dadfe1;
  }
  
  
  /* header style */
  #header_container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: #2b6777;
    height: 90px;
    width: 100%;
    position: fixed;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-bottom: 50px;
  
                    
  }

  .expand {
    flex-grow: 2;
  }

 .name_chip {
   font-size: 30px;
   background-color: #2b6777;
   color: #fff;
   padding: 10px;
 }

  }
  
  .navbar {
    position: fixed;
    transition: width 600ms ease;
    overflow: auto;
   
  }
  
  .nav_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    text-decoration: none;
    font-size: large;
   
  
  }

  .nav_links a {
    margin-right: 40px;
    color: #2b6777;
    text-decoration: none;
   
        
  }


    

/* hero */

.hero {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 200%;
  background-image: url("../images/1.png");
  background-size: cover;
  background-position: center;
  
  
  
}
 
.hero-header-box {
  /* position: relative;
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 50px;
  background-color: #fff;
  color: #2b6777;
  align-content: space-around;
  margin-top: 100px;
  margin-bottom: 25px;
  */

 }

.hero-text {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 50px;
  background-color: #fff;
  color: #2b6777;
  align-content: space-around;
  margin-top: 100px;
  margin-bottom: 25px;
  padding: 15px;
  text-align: left;


 
 
/* display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 250px;
  margin-bottom: 25px;
  position: relative;*/

}
/* About me section */

  #aboutme {
    display: flex;
    flex-direction: row;

  }

#aboutme p {
  font-size: large;
}


#work {
  display: flex;
  flex-direction: row;
}

#contact {
  display: flex;
  flex-direction: row;
}

#work_card_purple {
  position: relative;
  bottom: 10px;
  left: 50px;
  border: #2b6777 solid 3px;
  border-radius: 5px;
  
}

#work_card_purple:hover,
.work_card_smaller_purple:hover {
box-shadow: 0 0 50px #ebde27;

}


#work_car
/* Navigation menu */
/* 
.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #2b6777;


}

.navbar h1 {
display: flex;
justify-content: space-between;
align-items: flex-start;


}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

} */


/* hero image not displayed on screen sizes less than 367px*/
/* .hero {
  display: none;
  flex-direction: column;
  background-image: url(../images/1.png);
  min-height: 15em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
} */

/* hero image displayed only in screen sizes bigger than 367px*/
/* 
@media only screen and (min-width: 376px) {
  .hero {
  display: block;
  flex-direction: row;
  background-image: url(../images/1.png);
  min-height: 15em;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
} */


/* subheading not displayed on screen sizes less than 367px*/
/* .hero-text {
  display: none;
  text-align: right;
  background-color: #fff;
  color: #2b6777;
  font-size: large;
} */
/* subheading displayed only in screen sizes bigger than 367px*/
/* @media only screen and (min-width: 376px) {
.hero-text {
  display: block;
  text-align: right;
  background-color: #fff;
  color: #2b6777;
  font-size: large;
}


}




}

 */



 

  