
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 10px;
    background: #2b6777;
    padding: 14px 16px;
    
        
     
  }
/* Navigation menu */

.navbar {
  display: flex;
  justify-content: space-between;
  color: #fff;


}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: solid #fff;


}

}

.navbar h1 {
  font-size: 16px;
 
}
ul li {

  color:#fff;

}
  